################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlockAttributePrj/BlockAttributePrj/obj/Debug
/BlockAttributePrj/.vs/BlockAttributePrj/v16
/BlockAttributePrj/.vs/BlockAttributePrjBricscad/v16
/BlockAttributePrj/BlockAttributePrjBricscad
/BlockAttributePrj/packages
/puzzle
*.rar
/polylines_puzzle.pdf
/torbrowser-install-win64-9.0.10_en-US.exe.crdownload
/BlockAttributePrj/BlockAttributePrjBricscad.sln
